.card {
  padding: 10px
}

#change-buttons {
  margin-left: 5px
}

#welcome {
  padding: 20px
}

nav {
  display: flex
}

li {
  list-style-type: none;
  display: flex;
  margin: 10px
  
}

.App {
  text-align: center;
}

.App-title {
  padding: 10px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  font-size: 2em;
  /* border:white; */
  color: #24527a
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #24527a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


